<%- include('../partials/html-head')  %> 
<link rel="stylesheet" href="/stylesheets/destinations/index.css">
<%- include('../partials/nav')  %>



<h1>Add a Destination</h1>



<%- include('../partials/footer')  %> 